:root {
	--primary-color: #f5c18e;
	--secondary-color: #dbc3a5;
	--tertiary-color: #f8e9a1;
	--quaternary-color: #fccd04; /*second button hover*/
	--quinary-color: #fabc3c;
}
/*primary, secondary, tertiary, quaternary, quinary, senary, septenary, octonary, nonary, and denary*/
/*#f55536 #ff773d #f19143 #ffb238 # fabc3c  #ededed*/
*{
	font-family: 'Dosis', sans-serif;
}
body {
	background-color: #eae7dc;
}
a {
	color: #3366fb;
	text-decoration: none;
	transition: 0.5s;
}
a:hover {
	color: var(--primary-color); 
}
.navbar{
	margin: 20px 0px;
	display: flex;
	align-items: center;
}
.navbar img{
	width: 80px;
	padding: 0 20px;
}
.navitems {
	flex: 1;
	text-align: right;
}
.navitems li {
	display: inline-block;
	list-style: none;
	margin: 0px 30px;
}
.navitems li a {
	color: #000;
	text-decoration: none;
	padding: 10px;
	font-size: 24px;
	position: relative;
	transition: 0.5s;
}
.navitems li a:hover {
	color: var(--primary-color);
}
.navitems li a::after {
	content: '';
	width: 0%;
	height: 10px;
	background: var(--primary-color);
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 60px; /*100px for possible nav bar end*/
	transition: 0.5s;
}
.navitems li a:hover::after {
	width: 100%;
}
table, th, td{
	border: 1px solid black;
	border-collapse: collapse;
	vertical-align: top;
	padding: 15px;
}
td{
	width: 500px;
}
tr:nth-child(even) {
	background-color: #ececec;
}
tr:nth-child(odd) {
	background-color: #fff;
}
.transparentbanner {
	display: flex;
}
.primarybanner {
	display: flex;
	/*margin-top: 80px; /*140*/
	background-color: var(--primary-color);
	margin-bottom: 50px;
}
.bannerholder {
	display: flex;
}
.secondarybutton {
	padding: 7px 30px;
	margin: 30px;
	outline: none;
	border: 1px solid black;
	border-radius: 30px;
	cursor: pointer;
	background: var(--tertiary-color);
	font-size: 20px;
	transition: 0.5s;
}
.secondarybutton:hover {
	background-color: var(--quaternary-color);
}
.secondarybutton a{
	color: black;
}
.primarybanner h1 {
	position: absolute;
	width: 100%;
	text-align: center;
	font-size: 80px;
}
.transparentbanner h1 {
	position: absolute;
	width: 100%;
	text-align: center;
	font-size: 80px;
}
.secondarybanner {
	display: flex;
	/*margin-top: 80px;*/
	background-color: var(--secondary-color);
	margin-bottom: 50px;
}
.secondarybanner h1 {
	position: absolute;
	width: 100%;
	text-align: center;
	font-size: 80px;
}
.primarybanner ul, .secondarybanner ul {
	font-size: 24px;
}
.primarybanner p, .secondarybanner p {
	margin: 30px;
	font-size: 24px;
}
.left-column, .right-column {
	flex-basis: 50%;
	margin: 200 100 100 100px;
}
.middle-column {
	flex-basis: 75%;
	margin: 200px auto 30px auto;
}
.left-column h1, .right-column h1 {
	font-size: 100px;
}
.left-column h2, .right-column h2 {
	font-size: 70px;
	margin-bottom: 0px;
}
.left-column h3, .right-column h3 {
	font-size: 35px;
}
.right-column img {
	object-fit:contain;
	width: 50%;
}
.primarybutton {
	padding: 7px 30px;
	margin-right: 15px;
	outline: none;
	border: 1px solid var(--primary-color);
	border-radius: 30px;
	cursor: pointer;
	background: transparent;
	font-size: 20px;
	transition: 0.5s;
}
.primarybutton:hover {
	background-color: var(--primary-color);
}
.primarybutton a {
	color: var(--primary-color);
	transition: 0.5s;
}
.primarybutton a:hover {
	color: #fff;
}
.reveal {
  position: relative;
  opacity: 0;
}
.reveal.active {
  opacity: 1;
}
.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}
.active.fade-left {
  animation: fade-left 1s ease-in;
}
.active.fade-right {
  animation: fade-right 1s ease-in;
}
@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.displaylist {
	margin-top: 80px;
}
.displaylist li{
	font-size: 50px;
	text-align: left;
}
.secondarydisplaylist {
	margin-top: 30px;
}
.secondarydisplaylist li {
	font-size: 30px;
	text-align: left;
}
.narrowmiddlecolumn {
	flex-basis: 50%;
	margin: 200 auto 100 auto;
}
.primarybanner a:hover, .secondarybanner a:hover {
	color: #7207f5;
}
input[type = "number"] {
	margin: 0 0 10 0;
	width: 250px;
	border: 1px solid #000;
	border-radius: 4px;
	padding: 10px;
}
